@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;

.about {
  padding: 20px;
  min-height: 100vh;

  @include tablet {
    padding: 40px 40px;
  }
  @include desktop {
    padding: 40px 100px;
  }

  &__text {
    margin: 20px 0;
  }
}
