* {
  font-family: "Varta", sans-serif;
}

@font-face {
  font-family: "Varta";
  src: url("../../assets/fonts/Varta-Regular.ttf") format("TTF");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Varta";
  src: url("../../assets/fonts/Varta-Bold.ttf") format("TTF");
  font-weight: 700;
  font-style: bold;
}

