@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;

.profile {
  padding: 20px;
  min-height: 100vh;

  @include tablet {
    padding: 40px 40px;
  }
  @include desktop {
    padding: 40px 100px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;

    @include tablet {
      gap: 10%;
    }

     @include desktop {
      gap: 5%;
    }
  }

  &__list-item {
    border: 3px solid $primary;
    margin: 20px 0;
    padding: 12px;
    border-radius: 10px;
    width: 100%;

    @include tablet {
      width: 45%;
    }

    @include desktop {
      width: 30%;
    }
  }

  &__date {
    background-color: $primary;
    margin: -12px -12px;
    margin-bottom: 12px;
    padding: 12px 12px 20px 12px;
    font-size: 25px;
  }

  &__delete-button {
    background-color: $primary-dark;
    color: $white;
    padding: 10px;
    margin: 12px 0;
    margin-right: 12px;
    border-radius: 10px;
    border: 1px solid $primary-dark;
    transition: 100ms ease-in-out;
    float: right;

    &:hover {
      background-color: $white;
      border: 1px solid $primary;
      color: $black;
    }
  }

  &__exercise-count {
    color: $primary-dark;
    font-size: 30px;
  }

  &__hr {
    border-color: $primary-medium;
    margin: 12px -12px;
  }

  &__subhead {
    display: inline;
  }

  &__data {
    display: inline;
    color: $primary-dark;
  }
}

.logo:visited {
  color: white;
}
