@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;

.badges {
  border: 3px solid $primary-medium;
  padding: 12px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &__badge {
    height: 100px;
    margin: 12px;

  }

  &__header {
    background-color: $primary-medium;
    margin: -12px -12px;
    margin-bottom: 12px;
    padding: 12px 12px 12px 12px;
    font-size: 25px;
    width: 120%;
  }
}
