@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;

.header {
  background-color: $primary-dark;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: row;
  }

&__logo {
  height: 60px;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 0;
  }

   @include desktop {
    margin-bottom: 0;
  }
}


&__nav {
  display: flex;
  align-items: center;
}

&__nav-item {
  background-color: $primary;
  color: $black;
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
  border: none;

  &:hover {
    background-color: $grey;
  }
}
}
