@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;

.header {
  background-image: linear-gradient(to right, $primary-dark, $primary-medium);
  padding: 20px 20px 35px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  @include tablet {
    flex-direction: row;
    padding: 20px 40px;
  }

  @include desktop {
    flex-direction: row;
    padding: 20px 100px;
  }

  &__logo {
    height: 60px;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 0;
    }

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-item {
    background-color: $white;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    border: none;
    transition: 100ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: $primary;
    }
  }
}
