@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;

.exercise {
  padding: 20px;
  min-height: 100vh;

  &__intro {
    margin: 20px 0;
  }
}

.form {
  border: 3px solid $primary-medium;
  border-radius: 10px;
  padding: 12px;

  &__radial-container {
    display: flex;
  }

  &__radial-item {
    margin-left: 4px;
    margin-right: 12px;
  }

  &__submit-button,
  &__next-button,
  &__back-button {
    background-color: $primary-dark;
    color: $white;
    padding: 10px;
    margin: 12px 0;
    margin-right: 12px;
    border-radius: 10px;
    border: 1px solid $primary-dark;
    transition: 100ms ease-in-out;

    &:hover {
      background-color: $white;
      border: 1px solid $primary;
      color: $black;
    }
  }

  &__error-message {
    color: red;
  }
}

.radio {
  width: 20px;
  height: 20px;
  accent-color: $primary-dark;
}
