@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;

.homepage {
    padding: 20px;


    &__list-item {
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 50px;
        margin-right: 12px;
    }

    &__list-text {
        margin-bottom: 0;
    }
   
}